@using Reverb.Web.Models.Song
@model SongViewModel

@*
    TODO: Create better card for songs
*@
<div class="card">
    <p><b>@Model.Title</b></p>
    <p>@Model.Album</p>
    <p>@Model.Artist</p>
    <p>@Model.Lyrics</p>

    @using (Html.BeginForm("AddToFavorites", "Song", new { songId = Model.Id }, FormMethod.Post))
    {
        <input type="submit" value="Favorite" />
    }
</div>