@using Reverb.Web.Models.Song
@model SongViewModel

<section id="contact">
    <div class="container content-section text-center">
        <div class="row">
            <div class="video col-md-7">
                <iframe src=@Model.VideoUrl width="640" height="360" style="border: none"></iframe>
            </div>
            <div class="col-md-5" style="margin-top: -20px">
                @Html.Partial("_SongPartial", Model)
            </div>           
            
            @*<div class="lyrics">
                <p>Lyrics</p>
                <div class="text">
                    @{
                        var lyrics = Model.Lyrics.Replace("|", "<br />");

                        @Html.Raw(lyrics);
                    }
                </div>
            </div>*@
        </div>
    </div>
</section>

@section styles{
    <style>
        .intro {
	        background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88)),url(@Model.CoverUrl);
        }
    </style>
}
