@{
    ViewBag.Title = "Home Page";
}

<div style="background-image:url(https://wallpapercave.com/wp/lwfQm84.jpg); background-size:cover; background-position: center; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 20px;">

</div>